<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>我说呢 | 前端开发的技术博客</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="keywords" content="我说呢,woshuone,技术博客,前端,FE">
    <meta name="description" content="我说呢,前端开发的技术博客">
    <meta name="theme-color" content="#f60">
    <link rel="shortcut icon" href="./assets/imgs/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href="/assets/css/swiss.css">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <style>
      #cnzz_stat_icon_1263674165 {
        position: fixed;bottom: 3px;right: 5px;
      }
    </style>
  </head>
  <body>
    <!--vue-ssr-outlet-->

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263674165'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D1263674165%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>
